body {
    cursor: url('/cursor/strawberry-hello-kitty/Strawberry Hello Kitty.cur'),
        default;
}
a,
img,
svg,
button {
    cursor: url('/cursor/strawberry-hello-kitty/Strawberry Hello Kitty AS.cur'),
        default;
}
input,
textarea {
	cursor: url('/cursor/strawberry-hello-kitty/Strawberry Hello Kitty TS.cur'),
        text;
}
