body {
    cursor: url('/cursor/Diona_Cursors_5673/87yghkhjj.cur'),
        default;
}
a,
img,
svg,
button {
    cursor: url('/cursor/Diona_Cursors_5673/Location Select.cur'),
        default;
}
input,
textarea {
	cursor: url('/cursor/Diona_Cursors_5673/Handwriting 3.cur'),
        text;
}
