/*所有页面实现毛玻璃特效*/
#aside-content{
    background: rgba(255,255,255,0);
}

#aside-content > .card-widget:first-child {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#aside-content .card-widget {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#recent-posts > .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

/*标题栏*/
#page-header.nav-visible #nav {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(50px);
}

/*搜索框美化*/
.search-dialog {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 0px;
}

#search-mask {
    background: rgba(255,255,255,0);
}

/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#sidebar #menu-mask {
    background: rgba(255,255,255,0);
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#web_bg {
background: rgba(164,174,221,0.77);
background: -moz-linear-gradient(left, rgba(164,174,221,0.77) 0%, rgba(189,203,230,0.87) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,174,221,0.77)), color-stop(100%, rgba(189,203,230,0.87)));
background: -webkit-linear-gradient(left, rgba(164,174,221,0.77) 0%, rgba(189,203,230,0.87) 100%);
background: -o-linear-gradient(left, rgba(164,174,221,0.77) 0%, rgba(189,203,230,0.87) 100%);
background: -ms-linear-gradient(left, rgba(164,174,221,0.77) 0%, rgba(189,203,230,0.87) 100%);
background: linear-gradient(to right, rgba(164,174,221,0.77) 0%, rgba(189,203,230,0.87) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acabcc', endColorstr='#9897cc', GradientType=1 );
}
